.DS_Store
bin/
build/
out/
target/
.gradle
.springBeans
*.dat
*.iml
*.ipr
*.iws
*.log
.classpath
.project
.settings/
_site/
.idea/
.bak/

/samples/hello-world/vf.gf.dmn-events.cfg
/samples/hello-world/vf.gf.dmn-license.cfg
/vf.gf.dmn-events.cfg
/vf.gf.dmn-events.txt
/vf.gf.dmn-license.cfg

BACKUP*
ConfigDiskDir*
newDB
